.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    position: absolute;
    left: 41%
  }
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: 'Courier New', monospace;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: 'Courier New', monospace;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #43A047;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #4CAF50;
    text-decoration: none;
  }
  /* .form .register-form {
    display: none;
  } */
  .container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
  }
  .container:before, .container:after {
    content: "";
    display: block;
    clear: both;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  body {
    /* background: #76b852; 
    background: -webkit-linear-gradient(right, #76b852, #8DC26F);
    background: -moz-linear-gradient(right, #76b852, #8DC26F);
    background: -o-linear-gradient(right, #76b852, #8DC26F);
    background: linear-gradient(to left, #76b852, #8DC26F);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    */
    font-family: 'Courier New', monospace;
    background-color: rgb(220, 220, 220);

  }
  
  /* body {
      font-family: 'Courier New', monospace;
    } */
  .common {
      background-color: rgb(220, 220, 220);
      /* #eee */
      padding: 10px;
      text-align: center;
      margin: 0;
  }
  .counters{
      position: absolute;
      top: 0px;
      padding: 10px;
      font-size: 30px;
      right: 0;
  }
  .welcomeAndSignOut {
    position: absolute;
    top: 0px;
    padding: 10px;
    font-size: 30px;
    left: 0;
    font-size: 22px;
  }
  .accordion {
      background-color: rgb(220, 220, 220);
      /* #eee */
      color: #444;
      cursor: pointer;
      padding: 10px;
      width: 100%;
      text-align: center;
      border: none;
      outline: none;
      transition: 600ms;
      font-size: 24px;
    border: 1px outset rgb(235, 235, 235);

    }
    
  .active, .accordion:hover {
      background-color: rgb(245, 245, 245);
    }
    
  .panel {
      padding: 6px;
      background-color: white;
      display: none;
      overflow: hidden;
      text-align: center;
    }
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
    }
  p {
      margin-bottom: 8px;
      font-size: 18px;
      transition: 600ms;
  }
  .songButton {
      background-color: #4c93af;
      border: none;
      color: white;
      padding: 4px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 5px;
  }
  .signoutButton{
    background-color: #9cc0e9;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;

  }
  #deleteBtn {
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;

  }
  #addBtn {
    background-color: rgb(203, 245, 198);
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
  }
  .wrongCredentials{
    color: red;
    display: none;
    font-size: 16px;
    text-decoration: none;
  
  }
  .add {
    display: block;
  }
  #songName {
    cursor: pointer;
  }
  header  {
    position: sticky;
    top: 0;
  }
  #notifications {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    display: none;
    margin: 1em;
}

.notification {
    font-size: 1.5em;
    color: #ffffff;
    text-align: right;
}

.notification>span {
    display: inline-block;
    padding:  0.5em 2em 0.5em 2em;
    border-radius: 10px;
}

#errorBox>span {
    background: rgb(255, 141, 84);
}